* {
   margin:0px;
   padding:0px;
}

#footer {
   position: absolute;
   bottom: 10px;
   left: 10px;
   font: 15px monospace;
}

h1 {
   position: absolute;
   top: 45%;
   width: 100%;
   text-align: center;
   font: 35px monospace;
}
