* {
   margin:0;
   padding:0;
}

@font-face {
  font-family: font;
  src: url(fonts/ageo.otf);
}

body {
   background-color: #fff;
}

#header {
   display: block;

   width: 100%;
   padding-top: 100px;
   padding-bottom: 40px;

   text-align: center;

   color: #222;

   font-family: monospace;
   font-size: 22px;
}

nav {
   background-color: #fff;
   position: sticky;
   top: 0;
   z-index: 100;
   width: 100%;
   padding: 20px 0;
   text-align: center;
}

nav ul li {
   display: inline-block;
   padding: 0 auto;
   line-height: 50px;
}

nav ul li a {
   padding: 0 20px;
}

a {
   display: block;
   color: #666;
   text-decoration: none;
}

a:hover {
   color: #7aa;
   transition: .2s;
}

.current {
   color: #222;
}

.wrapper {
   padding: 30px;
   margin: 30px 10%;
   width: auto;
}

.menu {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.menu a {
   flex-basis: 28%;
   margin: 2%;
}

.menu p {
   padding-bottom: 20px;
   text-align: center;
}

.menu img {
   width: 100%;
}
