.gallery {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;

   .gallery-menu {
	 margin: 0 1rem;
      img {
	 transition: filter .2s ease-in-out;
	 &:hover { filter: brightness(120%) }
      }
   }

   .men1 img {
      flex: 0.32;
   }
   .men2 img {
      flex: 0.645;
   }
   .men3 img {
      flex: 0.42;
   }
}
@media screen and (max-width: 600px) {
   .gallery {
      flex-flow: column wrap;
   }
}
