* { margin: 0; padding: 0; } 

body { font: 14px Arial; }

::-webkit-scrollbar { display: none; }

::-moz-scrollbar { display: none; }

@import './header';
@import './index';
@import './home';
@import './gallery';
@import './gal';

.wrapper {
   display: block;
   position: relative;
   margin: auto;
   width: 90%;
   max-width: 1300px;
   justify-content: center;
}

@media (max-width: 650px) {
   .wrapper {
      width: 100%;
   }
}
